<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Planner</title>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
    </head>

    <body>
      <div class="container">
          <header class="box">
              <div class="box" id="title">
                  <h1>Travel Planner</h1>
              </div>
              <div class="box" id="nav">
                  <h2>My Trips</h2>
              </div>
          </header>

          <section class="box" id="image">
                  <div class="box" id="dest_img"></div>
              </section>

          <section class="box" id="info">
                  <div class="box" id="date">
                      <label for="start">Start date:</label>
                      <input type="date" id="travel_date" name="trip-start" value="2020-05-10">
                  </div>
                  <div class="box" id="date">
                    <label for="start">End date:</label>
                    <input type="date" id="return_date" name="trip-end" value="2020-06-10">
                </div>

                  <div class="box" id="dest">
                      <form>
                          <input id="travel_dest" value="" placeholder="Travel Destination?">
                          <input id="travel_submit" type="submit" name value="GO!">
                      </form>
                  </div>

                  <div class="box">
                      <div id="countdown"></div>
                      <div id="weather"></div>
                  </div>
              </section>
      <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
