<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form>
                    <input id="travel_dest" value="" placeholder="travel destination?">
                    <input id="travel_submit" type="submit" name value="go!">
                </form>
            <section>

            <section>
                <label for="start">Start date:</label>
                <input type="date" id="travel_date" name="trip-start">
             </section>
                

            <section>
                <div id="countdown"></div>
                <strong>Forecast:</strong>
                <div id="weather"></div>
                <div id="dest_img"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
